/* @font-face {
    font-family: customfont;
    src: url(/Bungee-Regular.ttf);
} */

:root{
    --ff-serif: "Bungee", cursive;
}



/* @font-face {
    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/bungee/v11/N0bU2SZBIuF2PU_0AnR1Gd8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
} */


body,
html {
    min-height: 100%;
    font-family: var(--ff-serif);
    overflow:hidden
}

/* * {
    box-sizing: border-box;
} */


.bg-image {
    background-image: url(/Images/misty-trees.jpg);

    filter: blur(8px);
    -webkit-filter: blur(8px);

    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
    max-width: 100%;

}


.myClock {
    font-size: 25vh;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100vw;
}


.image-text {
    background-image: url(/Images/misty-trees.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(22, 22, 22, 0.87);
}

.copyright {
    text-align: center;
    margin-top: 55%;
    color: rgba(55, 56, 61, 0.534);

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(22, 22, 22, 0.87);

    
    font-size: 5vh;
    
}